.App {
  text-align: center;
  padding: 50px;
}

.loginSignup {
  display:flex;
  justify-content: space-between;
  width:100%;
}

.login, .signup, .Google {
  width: 30%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: grid;
  border: 15px solid #200;
  padding: 20px; 
}
