/* Overall layout for the entire webpage */
.App {
  text-align: center;
}

/* The separate forms */
.login,
.signup {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: grid;
  border: 1px solid #112D4E;
  background: #F9F7F7;
  padding: 50px;
}

button:hover {
  background-color: #9a8678;
}

button.cancel {
  background-color: #6c757d;
}

button.cancel:hover {
  background-color: #5a6268;
}

body {
  Background: #E6E6E6;
}


.btn-primary {
  background-color: #8e7051;
  border-color: #6e533d;
}

.btn-primary:hover {
  background-color: #9a8678;
  color: black;
  border-color: #6e533d;
}

.btn-secondary {
  background-color: #8e7051;
  border-color: #6e533d;
}

.button-group .btn-primary {
  background-color: #8e7051;
  border-color: #6e533d;
}

button {
  margin-top: 15px;
  padding: 8px 12px;
  background-color: #8e7051;
  border-color: #6e533d;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}