/* Overall layout for the entire webpage */
.App {
  text-align: center;
  padding: 50px;
}

/* A div box that contains all of the sign up forms */
.loginSignup {
  display:flex;
  justify-content: space-between;
  width:100%;
}
/* The separate forms */
.login, .signup, .Google {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: grid;
  border: 1px solid  #112D4E;
  background: #F9F7F7;
  padding: 50px; 
  margin: 20px;
}

.video {
  width: 100%;
  height: auto;
  max-width: 100%;
}